[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=vector_guide_marks
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Vector Guide Marks
Comment=Create Cropmarks,DimensionLines,ModularGrid from selected vector shapes.